.container {
  max-width: 900px;
  margin: 0 auto;
}

#pages {
  padding: 46px 0 0 0;
}

section {
  margin: 46px 0 46px 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #1b161a;
  
  p {
    padding: 1em;
    margin: 0;
  }
}
