@media (max-width: 560px) {
  body {
    margin: 0;
  }

  .container .page-title {
    width: 280px;
    font-size: 0.5em;

    .bottom-line {
      width: 200px;
    }
  }

  .coffee {
    flex-direction: column;
    margin: auto;

    .product-description {
      width: 70%;
      justify-content: center;
    }
  }

  .about-text {
    width: 360px;
  }
}

@media (min-width: 768px) {
  .elTigre {
    flex-direction: row-reverse !important;
    gap: 2em;

    .roastint {
      align-items: flex-end !important;
    }
  }
}
