@media (max-width: 560px) {
  body {
    margin: 0;
  }
  .container .page-title {
    width: 280px;
    font-size: 0.5em;

    .bottom-line {
      width: 200px;
    }
  } 

  .roastint {
    margin-bottom: 20px;
  }

  .coffee {
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
  }

  .product-description {
    width: 70%;
    justify-content: center;
  }

  .about-text {
    width: 360px;
  }
}
