.about {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),
    url('../../images/about-us.jpg');
  background-attachment: local;
  background-size: cover;
  height: 600px;
  padding: 0;
  margin-bottom: 0;
}

.about-text{
  max-width: 450px;
  margin: auto;
  color: #fff;
  font-size: 1.2em;
  font-style: italic;
  padding-bottom: 10px;

  p {
    margin: 0 0 40px 0;
  }

  .signature {
    text-align: end;
    letter-spacing: 2px;
  }
}