.contact-form {
  margin: auto;
  width: 300px;
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  input:focus {
    border: none;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 12px;  
  }

  .submit {
    margin: auto;
    margin-top: 20px;
    padding: 10px 10px;
    background-color: #bea67c;
    color: white;
    font-weight: 600;
    letter-spacing: 4px;
    border: none;
    opacity: 0.5;
  }
  
}