.coffee {
  margin-top: 40px;
}

img {
  width: 350px;
  height: auto;
  border-radius: 3px;
  box-shadow: 3px 3px 5px black;
  transition: 1s all;
}

img:hover {
  scale: 110%;
}

.right {
  margin-left: 40px;
  padding-right: 0;
}

.product-description {
  width: 100%;

  h1 {
    font-weight: bold;
    text-transform: uppercase;
  }

  .line {
    width: 80px;
    height: 3px;
    border-radius: 3px;
    background-color: #bea67c;
  }

  .roastint {
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;

    h3 span {
      color: #bea67c;
    }
  }
}

.elTigre {
  flex-direction: row-reverse;
}